.button__submit {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #323232;
  width: 192px;
  height: 42px;
  background: linear-gradient(98.3deg, #93e08c -1.93%, #78cebf 97.03%);
  border-radius: 3px;
  border-style: none;
}
